{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "decorators": true,
      "syntax": "typescript"
    },
    "target": "esnext"
  },
  "minify": true
}
