{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "decorators": true,
      "syntax": "typescript"
    },
    "paths": {
      "@identity-and-access/*": ["./src/identity-and-access/*"],
      "@shared-kernel/*": ["./src/shared-kernel/*"]
    },
    "target": "esnext",
    "transform": {
      "decoratorMetadata": true
    }
  },
  "minify": true
}
